<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="DBConnString" connectionString="data source=DESKTOP-I31UAU9;initial catalog=true;User id=Aashish;password=Aashish@123;Initial Catalog=RdcManager;Connection Timeout=1000" />
  </connectionStrings>
</configuration>